body {
    background-color: #161616;
}

.title-tag {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 100;
}